.conversations {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.conversations:hover {
    background-color: rgb(230, 230, 230);
    border-radius: 10px;
}

.conversationImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.conversationSpan {
    font-weight: 500;
}